
table{
  padding: 10px;
  width: 100%;
  grid-column: 2/3;
}

th{
  text-align: left;
  background-color: #de3831;
  color: white;
}

.units-body{
  padding: 10px;
  margin: 10px 10px 10px 0px /* Ordem: Top Right Bottom Left */
}